# dependencies to build the iode module (via nbsphinx)
numpy < 2.0     # numpy >= 2.0 makes mypy (1.11) to crash (21/08/2024)
pandas 
matplotlib
larray

cython >= 3.0
scikit-build-core >= 0.10
mypy >=1.10

# dependencies to actually build the documentation
sphinx
sphinx-rtd-theme
myst-parser
numpydoc
# This only installs the python bindings for pandoc. It works on read-the-docs
# because it has a system-wide pandoc installed but elsewhere, installing
# pandoc from conda is easier because it includes both the bindings and pandoc itself
pandoc
ipython
ipykernel
nbsphinx
