# dependencies to build the C++/Cython sources for the iode module
cython == 3.1.4
scikit-build-core >= 0.10
mypy == 2.3.0

# dependencies to run the iode module and the tests
numpy >= 2.4
pandas >= 3.0
matplotlib
larray
pytest

# dependencies to actually build the documentation (sphinx)
sphinx
sphinx-rtd-theme
myst-parser
numpydoc
# This only installs the python bindings for pandoc. It works on read-the-docs
# because it has a system-wide pandoc installed but elsewhere, installing
# pandoc from conda is easier because it includes both the bindings and pandoc itself
pandoc
ipython
ipykernel
nbsphinx
