# dependencies to build the iode module (via nbsphinx)
numpy
pandas 
matplotlib
larray
pytest

cython == 3.0.11
scikit-build-core >= 0.10
mypy >=1.10

# dependencies to actually build the documentation
sphinx
sphinx-rtd-theme
myst-parser
numpydoc
# This only installs the python bindings for pandoc. It works on read-the-docs
# because it has a system-wide pandoc installed but elsewhere, installing
# pandoc from conda is easier because it includes both the bindings and pandoc itself
pandoc
ipython
ipykernel
nbsphinx
