<style>
BODY
{
    BACKGROUND-ATTACHMENT: fixed;
    BACKGROUND-COLOR: white;
    BACKGROUND-POSITION: left top;
    BACKGROUND-REPEAT: no-repeat;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial;
    MARGIN: 1em 1em 1em 1em;
}

H1, .tit_1 { color:black; font-style:bold; font-family:Verdana; font-size:16; border-bottom: 2px solid  black; margin-left: 0;}
H2 , .tit_2 { color:black; font-style:bold; font-family:Verdana; font-size:15; border-bottom: 2px solid  black; margin-left: 0;}
H3 , .tit_3 { color:black; font-style:bold; font-family:Verdana; font-size:15; border-bottom: 2px solid  black; margin-left: 0;}
H4, .tit_4 { color:black; font-style:bold; font-family:Verdana; font-size:14; border-bottom: 2px solid  black; margin-left: 0;}
H5, .tit_5 { color:black; font-style:bold; font-family:Verdana; font-size:13; border-bottom: 1px dotted #d3d3d3;}
H6, .tit_6 { color:black; font-family:Verdana; font-size:12; margin:10;}
P  { font-family:Verdana; font-size:12; margin-left:10pt; line-height : 1.5;}
TD { font-family:Verdana; font-size:12; vertical-align: top}
LI { font-family:Verdana; list-style-type:square; font-size:12;}
TT { font-family:Courier New; font-weight:bold; font-size:12; font-color:black;}
PRE {
  margin: 5px 10px;
  padding: 10px;
  text-align: left;
  display: block;
  overflow: auto;  
  font: 12 'Lucida Console', 'courier new', monospace;
  /* white-space: pre; */   
  background: #D3D3D3;
  border: 2px dotted #AAA;
  line-height : 1.2;
  }
a:hover {font-weight:bold; BACKGROUND: #ffa;}
</style>
