BODY
{
    /*BACKGROUND-IMAGE: url(title.gif); */
    BACKGROUND-ATTACHMENT: fixed;
    BACKGROUND-COLOR: white;
    BACKGROUND-POSITION: left top;
    BACKGROUND-REPEAT: no-repeat;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial;
    MARGIN: 1em 1em 1em 3em
}

H1 { color:#0050b2; font-style:bold; font-family:Verdana; font-size:16px; }
H2 { color:#0050b2; font-style:bold; font-family:Verdana; font-size:15px; margin-left:10pt }
H3 { color:#FF0000; font-style:bold; font-family:Verdana; font-size:14px; margin-left:10pt }
H4 { color:#0050b2; font-style:bold; font-family:Verdana; font-size:13px; }
H5 { color:black; font-style:bold; font-family:Verdana; font-size:12px; BACKGROUND: #ffa;}
H6 { color:black; font-style:bold; font-family:Verdana; font-size:12px; BACKGROUND: #ffa; margin-left:10pt;}
P  { font-family:Verdana; font-size:12px; margin-left:10pt;}
TD { font-family:Verdana; font-size:12px; }
LI { font-family:Verdana; list-style-type:square; font-size:12px; margin-left: 10pt;}
UL { font-family:Verdana; font-size:12px; margin-left:4pt; padding-left: 2px; }
TT { font-family:Courier New; font-weight:bold; font-size:12px; font-color:green;}
PRE { font-family:Courier New; font-weight:bold; font-size:12px; font-color:green; BACKGROUND-image: url(listing.gif); margin-left:10pt; padding-left:20pt;}
a:hover {BACKGROUND: #ffa;}
