name: Build CLI executable

on: 
  # line below makes jobs defined in this script (workflow) reusable
  # https://docs.github.com/en/actions/using-workflows/reusing-workflows
  workflow_call:
    inputs:
      build-config:
        default: 'debug'
        required: true
        type: string

jobs:
    build_cli:
        name: Build IODE CLI
        strategy:
          matrix:
            os: [windows-latest, ubuntu-latest]
    
        runs-on: ${{ matrix.os }}
    
        steps:
          - name: Checkout repository code
            uses: actions/checkout@v2
          - run: echo "The ${{ github.repository }} repository has been cloned to the runner."
          - name: Install dependencies on linux
            if: runner.os == 'Linux'
            run: sudo apt install ninja-build
          - name: Install dependencies on windows
            if: runner.os == 'Windows'
            shell: bash
            run: |
              choco install ninja
              ninja --version
              cmake --version
          - name: Add cl.exe to PATH
            if: runner.os == 'Windows'
            # See https://github.com/marketplace/actions/enable-developer-command-prompt
            uses: ilammy/msvc-dev-cmd@v1
            with:
              arch: x64
          - name: Print preset config
            shell: bash
            run: echo "${{ env.os }}-${{ inputs.build-config }}"
          - name: Configure CMake
            shell: bash
            # cmake --preset <configurePreset> where <configurePreset> is the name of the active Configure Preset.
            # see CMakePresets.json file
            # for more details about cmake preset:
            #   - https://cmake.org/cmake/help/latest/manual/cmake-presets.7.html
            #   - https://docs.microsoft.com/en-us/cpp/build/cmake-presets-vs?view=msvc-170
            run: cmake --preset ${{ env.os }}-${{ inputs.build-config }}
          - name: Build the SCR4, C and C++ API libs
            uses: ./.github/actions/build_api
            with:
              cmake-config: ${{ env.os }}-${{ inputs.build-config }}
          - name: Test the C and C++ APIs
            uses: ./.github/actions/test_api
            with:
              cmake-config: ${{ env.os }}-${{ inputs.build-config }}
          - name: Build CLI
            run: cmake --build --verbose --preset ${{ env.os }}-${{ inputs.build-config }} --target iodecmd 
          - run: echo "This job's status is ${{ job.status }}."
