name: Run jobs for building and testing IODE (CLI, GUI, PYTHON, DOC, NSIS)

on: 
  # Triggers the workflow on pull request events
  pull_request


jobs:
  # see https://docs.github.com/en/actions/using-workflows/reusing-workflows#calling-a-reusable-workflow 
  build_and_test:
    if: |
      !contains(github.head_ref, 'doc') && !contains(github.head_ref, 'python') && 
      !contains(github.head_ref, 'gui') && !contains(github.head_ref, 'nsis') && 
      !contains(github.head_ref, 'release')
    uses: ./.github/workflows/github-actions-build-and-test.yml 
    with:
      build-config: debug

  build_gui:
    if: contains(github.head_ref, 'gui')
    uses: ./.github/workflows/github-actions-gui.yml 
    with:
      build-config: debug

  build_python:
      if: contains(github.head_ref, 'python')
      uses: ./.github/workflows/github-actions-python.yml 
      with:
          build-config: release

  build_doc:
      if: contains(github.head_ref, 'doc')
      uses: ./.github/workflows/github-actions-doc.yml
  
  build_nsis:
    if: contains(github.head_ref, 'nsis')
    uses: ./.github/workflows/github-actions-nsis.yml 
    with:
      build-config: release
